div {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

button {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  text-transform: uppercase;
  font-size: 50px;
}

button[data-action='start'] {
  background-color: green;
  margin-right: 50px;
}

button[data-action='stop'] {
  background-color: red;
}
